@using AuditInspect.Models
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
        Layout = "~/Pages/Shared/_LayoutUnauthorized.cshtml";
}


<div class="login-box">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="../../index2.html" class="h1"><b>Audit</b>Inspect</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Seteaza o noua parola</p>
      <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Token" type="hidden" />
                    <input asp-for="Email" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Reseteaza</button>
                </form>

      <p class="mt-3 mb-1">
        <a href="login.html">Autentificare</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>