 
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
      @*Layout = "~/Pages/Shared/_Layout.cshtml";*@
}

<div class="d-flex justify-content-center  mb-3">   
    <div class="p-2 ">
        <h4>
            Your password is reset. Please click <a asp-action="Login">here to login</a>
        </h4>
     </div>
 </div>