@{
    ViewData["Title"] = "Error";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
 <div class="d-flex justify-content-center  mb-3">            
    <div class="p-2 ">
           <h1 class="text-danger">Error</h1>
           <h2 class="text-danger">An error occurred while processing your request. Please try again later.</h2>
    </div>
</div>