
@{
    ViewData["Title"] = "SuccessRegistration";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
 <div class="d-flex justify-content-center  mb-3">            
    <div class="p-2 ">
        <h1>SuccessRegistration</h1>
        <p>
            Please check your email for the verification action.
        </p>
        </div>
</div>
