
@model IEnumerable<AuditInspect.Models.FormModels.Form>

@{
        ViewData["Title"] = "Home";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Area"] = "Home";
    ViewData["Controller"] = "Home";
    ViewData["Action"] = "Dashboard";
        
}
 

<div class="row">
     
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Roluri</span>
                <span class="info-box-number">@ViewBag.CountRole</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Utilizatorii</span>
                <span class="info-box-number">@ViewBag.CountUser</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
 </div>
  
      
@section Scripts 
{
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
   

    </script>

}